h1{
		font-family: "Indie Flower";
		font-weight: bold;
		text-align: center;
		font-size: 100px;
}
table{
	margin:auto;
}
td{
	width:100px;
	height:100px;
	/*background:black;*/
	/*margin:150px auto;*/
}
.vertical{
	border-left:2px solid grey;
	border-right:2px solid grey;
}
.horizontal{
		border-top:2px solid grey;
	border-bottom:2px solid grey;

}